<%# <div id="app" data-controller="demo">

	<ol>
		<br><li><button data-action="click->demo#launchDemo" data-name="Daniel Coulbourne" data-email="daniel@tighten.co" data-title="Developer" class="btn">Daniel</button></li>
    <br><li><button data-action="click->demo#launchDemo" data-name="Caleb Porzio" data-email="caleb@tighten.co" data-title="Developer" class="btn">Caleb</button></li>
	</ol>

    <button data-action="click->demo#launchDemo" class="btn">Launch Demo</button>

	<div class="modal" data-controller="modal co-host-modal" data-demo-target="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<h2 data-co-host-modal-target="name"></h2>
				<span data-co-host-modal-target="title"></span>
				<a data-co-host-modal-target="email" href=""></a>

				<form>
					<div class="form-group row">
						<label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="staticEmail" value="email@example.com">
						</div>
					</div>
					<div class="form-group row">
						<label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="inputPassword" placeholder="Password">
						</div>
					</div>
				</form>

				<form>
					<div class="form-group">
						<label for="exampleFormControlFile1">Example file input</label>
						<input type="file" class="form-control-file" id="exampleFormControlFile1">
					</div>
				</form>
				<hr>
				<button data-action="click->modal#close" class="btn">Close</button><br>
				<button data-action="click->modal#close" class="btn btn-primary">Save</button><hr>
			</div>
		</div>
	</div>
</div> %>