.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.icon {
  width: 35px;
  border-radius: 50%;
}

.logo {
  width: 150px;
	padding-left: 11px;
}

.icon-index{
width: 15px;
text-align: center;
}